.c-main {
  overflow-x: hidden;
  position: relative;
}

.scene {
  position: relative;
  z-index: 1;

  & > div {
    background-color: var(--color-black-0);
  }
}

#smooth-wrapper {
  z-index: 1;
}
