:root {
  --color-black-0: #0c0c0c;
  --color-black-1: #0a0b0b;
  --color-black-2: #0c0c0c4d;

  --color-gray-0: #202020;
  --color-gray-1: #252525;
  --color-gray-2: #3f3f40;
  --color-gray-3: #6b6b6b;
  --color-gray-4: #ffffffcc;
  --color-gray-5: #262626;
  --color-gray-6: #6c6c6c;
  --color-gray-7: #181818;

  --color-white-0: #ffffff;
  --color-white-1: #e2e2e2;
  --color-white-2: #e3e3e3;

  --color-blue-0: #1388d1;
}
